$font-movie: 'Limelight', cursive;
$font-regular:'Lato', sans-serif;
$primary-color: #b6433e;
$secondary-color: #3f4e51;

.ms-title {
  font-family: $font-movie;
  color: $primary-color;
  font-size: 4em;
  text-align: center;
}

.container {
  font-family: $font-regular;
  color: $secondary-color;
  font-size: 3vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
}

.ms-search-bar {
  display: flex;

  input {
    width: 80vw;
    height: 5vh;
  }

  button {
    background-color: $primary-color;
    border-radius: 10%;
    color: white;
  }
}

.ms-results {
  display: flex;
  overflow: scroll;
  border: 1px solid gainsboro;
  margin: 2vw;
  background: $primary-color;
  color: white;
  align-items: center;
}

.ms-indiv-result {
  margin: 1vw;
  text-align: center;

  img {
    height: 70vh;
  }

}

.ms-movie {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ms-movie-button {
  border-radius: 10%;
    color: white;
    height: 10vh;
    width: 10vw;
    margin: 4vh;
}

.md-title {
  font-size: 5vh;
}

.md-movie-details {
  display: flex;
}

.md-movie-text {
  border: 1px solid $secondary-color;
  margin-left: 2vw;
  align-items: center;

  p {
    padding: 0 2vw;
  }

  h3 {
    text-align: center;
    background-color: $primary-color;
    margin: 0;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
    }
  }
}

.md-movie-group {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid darken( $secondary-color, 10% );
  background-color: $secondary-color;
  color: white;
}