$font-movie: 'Limelight', cursive;
$font-regular:'Lato', sans-serif;
$primary-color: #b6433e;
$secondary-color: #3f4e51;

.title {
  font-family: $font-movie;
  color: $primary-color;
  font-size: 20vh;
  text-align: center;
}

.movie-search-container {
  font-family: $font-regular;
  color: $secondary-color;
  font-size: 5vh;
  padding: 10%;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  justify-content: space-around;

  input {
    width: 80vw;
    height: 10vh;
  }

  button {
    background-color: $primary-color;
    border-radius: 10%;
    color: white;
  }
}

.results {
  display: flex;
  overflow: scroll;
  border: 1px solid gainsboro;
  margin: 2vw;
  background: $primary-color;
  color: white;
  align-items: center;
}

.indiv-result {
  margin: 1vw;
  text-align: center;

  img {
    height: 70vh;
  }

}

.movie {
  height: 15vh;
}

.movie-button {
  border-radius: 10%;
    color: $primary-color;
    height: 10vh;
    width: 10vw;
    margin: 4vh;
}